@keyframes fade-in-left {
    0%{
        opacity: 0;
        transform: translateX(-3rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.header{
    margin: 0 5rem;
    padding-top: 3.75rem;
    @media only screen and (max-width:375px) {
        margin: 0 auto;
        padding-top: 1.75rem;
        width: 90%;
        
    }
    &__logo{
        animation: fade-in-left 1s backwards;
        @media only screen and (max-width:375px) {
            width: 9rem;
        }
    }
}